.form-field {
  width: 90%;
  margin: auto;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.content{
  margin: 80px auto;
  width: 80%;
  text-align: center;
}

.load-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.load-container mat-spinner {
  margin: auto;
  top: 40%;
}
.title {
  color: aqua;
}

.mat-card {
  margin: 5px;
  height: 50px;
  width: 50px;
}

.products-search {
  width: 100%;
}
