<div style="text-align:center">
  <h1>
    Search the GitHub repos
  </h1>
</div>
<div class="content">
    <mat-form-field class="form-field">
      <input matInput type="text" placeholder="Enter the repo name here" [(ngModel)]="value">
      <button mat-button matSuffix mat-icon-button aria-label="Search" (click)="search(value)">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value =''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  <mat-grid-list cols="5" [rowHeight]="500" *ngIf="searchRepo">
    <mat-grid-tile
      *ngFor="let item of searchRepo.items">
      <app-repo-card [item]="item"></app-repo-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>




